html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* noto-serif-regular - latin */
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/noto-serif-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-serif-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-700 - latin */
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/noto-serif-v11-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-serif-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*product-sans-regular  */

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Product-Regular"), local("Product Regular"),
    url("../fonts/ProductSans-Regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ProductSans-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*product-sans-700*/
@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Product-Bold"), local("Product-Bold"),
    url("../fonts/ProductSans-Bold.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ProductSans-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Serif";
  font-style: normal;
  color: #2c2c2c;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 39px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 70px;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  color: #2c2c2c;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  color: #ff715b;
}

.header__profile-img {
  position: relative;
  bottom: 2px;
  right: 2px;
}

.intro {
  height: 100vh;
  background: url(../img/png/Union.png) no-repeat center;
  background-size: cover;
  margin-top: 135px;
  padding-top: 285px;
  margin-bottom: 214px;
}

.intro__title {
  font-weight: bold;
  font-size: 84px;
  line-height: 112px;
  max-width: 804px;
  margin-bottom: 50px;
}

.intro__button {
  text-decoration: none;
  color: #fff;
  background: #ff715b;
  width: 200px;
  height: 60px;
  padding: 18px 37px;
}

.intro__button:hover {
  background-color: #c73c27;
}

.order__form {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  height: 150px;
}

.order__form-wrap {
  display: flex;
  flex-direction: column;
  padding: 49px 29px 43px 0;
}

.order__item {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
  width: 250px;
  color: #ff715b;
  border: 0;
  border-bottom: 1px solid #f5ebe9;
  padding-bottom: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.order__destination {
  background: transparent url(../img/svg/downarrow.svg) no-repeat right center;
}

.order__date {
  background: transparent url(../img/svg/calender.svg) no-repeat right 6px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.order__form-wrap label {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #a79997;
  padding-left: 2px;
}

.order__submit {
  width: 200px;
  height: 65px;
  align-self: center;
  margin-left: 10px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-color: #ff715b;
  border: 0;
}

.order__submit:hover {
  background-color: #f1533b;
}

.stages {
  max-width: 1410px;
  height: 325px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 181px;
}

.stages__card {
  display: flex;
  flex-direction: column;
  flex-basis: 329px;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  text-align: center;
  margin-bottom: 30px;
}

.stages__card:hover {
  background-color: #fff;
}

.stages__title {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.stages__img {
  margin-top: 44px;
}

.stages__content {
  margin: 0 40px 60px 36px;
  text-align: center;
}

.stages__card:first-child .stages__img {
  margin-top: 20px;
}

.topdest__descr {
  display: inline-block;
  max-width: 441px;
  margin-top: 114px;
}

.topdest__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 40px;
}

.topdest__title span {
  color: #ff715b;
}

.topdest__text {
  font-size: 18px;
  line-height: 26px;
  color: #a79997;
  margin-bottom: 85px;
}

.topdest__button {
  text-decoration: none;
  color: #fff;
  background: #ff715b;
  width: 210px;
  height: 81px;
  padding: 25px 37px;
  margin-bottom: 97px;
}

.intro__button:hover {
  background-color: #c73c27;
}

.topdest__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.topdest__cards {
  flex-basis: 1234px;
  min-height: 580px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
}

.topdest__card {
  position: relative;
}

.topdest__card-img {
  width: 345px;
  height: 400px;
}

.topdest__card-title {
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: 2;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #ffffff;
}

.topdest__card:nth-child(2) .topdest__card-img {
  filter: brightness(80%);
}

.topdest {
  margin-bottom: 192px;
}

.offer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer__illustration {
  flex-basis: 928px;
  padding: 55px 156px;
  position: relative;
}

.offer__figure1 {
  position: absolute;
  bottom: -20px;
  left: 70px;
  z-index: -1;
}

.offer__figure2 {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  width: 58px;
  height: 54px;
  border-radius: 50%;
  border: 8px solid #ff5b65;
}

.offer__figure3 {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 85px;
  width: 153px;
  height: 142px;
  background: #ffca45;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.offer__blur1 {
  position: absolute;
  z-index: -2;
  top: 98px;
  left: 116px;
  width: 278px;
  height: 614px;
  background: #d3e2ff;
  filter: blur(100px);
}

.offer__blur2 {
  position: absolute;
  z-index: -2;
  top: 87px;
  right: 125px;
  width: 233px;
  height: 635px;
  background: #ffcbc4;
  filter: blur(150px);
}

.offer__descr {
  flex-basis: 752px;
  padding-top: 100px;
}

.offer__title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
}

.offer__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  padding-left: 97px;
  position: relative;
}

.offer__subtitle:first-of-type {
  background: transparent url(../img/svg/user1.svg) no-repeat left center;
}

.offer__subtitle:first-of-type::before {
  content:"";
  position: absolute;
  width: 54px;
  height: 49px;
  background: #ff715b;
  box-shadow: 0px 10px 15px rgba(255, 113, 91, 0.25);
  border-radius: 10px;
  top:-7px;
  left:-11px;

  z-index: -1;
}

.offer__subtitle:nth-of-type(2) {
  background: transparent url(../img/svg/www.svg) no-repeat left center;
}

.offer__subtitle:last-of-type {
  background: transparent url(../img/svg/headphones.svg) no-repeat left center;
}

.offer__text {
  padding-left: 97px;
}
