* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 39px;
  height: 45px;
  border: 1px solid black;
  text-align: center;
}


.navbar {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  max-width: 433px;
  height: 100%;
  align-items: center;
}

.nav_link{
  margin: 0 0 0 71px;
}